<!-- External fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">



<head>
  <link rel="stylesheet" href="styles/nav.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<nav id="nav-bar">
  <!-- Top nav bar (fixed) -->
  <div class="nav-title">
    <a href="/">
      <img src="https://raw.githubusercontent.com/dariakiseleva/midterm-project/cc242d79c27b8fd68dd3f792fba8bf30fff441b4/docs/logo.png">
    </a>
    <h1><span id="lighthouse">Lighthouse</span><span id="grill"> Grill</span></h1>
  </div>
  <div class="right-side-nav-content">
    <form action="/nav/menu" method="GET">
      <button type="submit">Menu</button>
    </form>
    <form action="/nav/orders" method="GET">
      <button type="submit">Orders</button>
    </form>
    <form action="/nav/cart" method="GET">
      <button id="cart-button" type="submit">Cart </button>
    </form>
    <form action="/multiUser/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </div>
</nav>
