<head>
  <link rel="stylesheet" href="styles/nav.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav id="nav-bar">
  <!-- Top nav bar (fixed) -->
  <div class="nav-title">
    <h1>Lighthouse Grill</h1>
  </div>
  <div class="right-side-nav-content">
    <form action="/nav/menu" method="GET">
      <button type="submit"> Menu</button>
    </form>
    <form action="/nav/orders" method="GET">
      <button type="submit"> Orders</button>
    </form>
    <form action="/nav/cart" method="GET">
      <button type="submit"> Cart </button>
    </form>
  </div>
</nav>
