<nav>
  <!-- Top nav bar (fixed) -->
  <div class="nav-title">
    <span>Lighthouse Grill</span>
  </div>
  <div class="righ-side-nav-content">
    <form action="/navbar/menu" method="GET">
      <button type="submit"> Menu</button>
    </form>
    <form action="/navbar/orders" method="GET">
      <button type="submit"> Orders</button>
    </form>
    <form action="/navbar/cart" method="GET">
      <button type="submit"> Cart</button>
    </form>
  </div>
</nav>
