<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>

  <style>
    body {
      display: flex;
    }
  </style>

</head>

<body>
  <%- include('partials/_nav') %>
  <main>
    <header>
      <h3>Cart</h3>
    </header>
<section id="cart-items">
    <!-- <article>
      <h4>Name</h4>
      <div>
        Img<img src="">
        <label>Quantity:</label>
        <input type="number" min="1" max="9"> * Price
        <button type="submit">Update Quantity</button>
      </div>
      <span>Description</span>
      <button>Remove from Cart</button>
    </article> -->
</section>
    <footer>
        Order Total:
        <button>Place the order</button>
    </footer>
  </main>
</body>

</html>
