<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/all.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>

  <style>
    body {
      display: flex;
    }
  </style>

</head>

<body>
  <%- include('partials/_nav') %>

    <div id="outer-container"><main>
      <section id="cart-items">
        <!-- Content is inserted here -->
      </section>

      <br><br>
      <form class="submit-order" action="/cart/submitOrder" method="POST">
      <footer>
        <span>Order Total: <span id="order-total"></span></span>
        <button>Place the order</button>
      </footer>
      </form>
    </main></div>

</body>

</html>
