<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <style>
    body {
      display: flex;
      flex-direction: row;

    }

  </style>

</head>

<body>
  <main>
    <header>
      <h3>Cart</h3>
    </header>

    <div>
      Img<img src="">
      Price:
      <label>Qunatity:</label>
      <input type="number" min="0" max="9">
      Name:
      Description:
      <button>Remove</button>
    </div>

    <div>
      Order Total:
      <button>Place the order</button>
    </div>


  </main>
</body>

</html>
