<h1>I am the menu!</h1>

<p>These JSON data should be used to display the menu with jQuery when category buttons are clicked</p>

<form class="form-inline" action="../api/menu/salad" method="GET">
  <button type="submit">JSON of salads</button>
</form>

<form class="form-inline" action="../api/menu/appetizer" method="GET">
  <button type="submit">JSON of appetizers</button>
</form>

<form class="form-inline" action="../api/menu/main" method="GET">
  <button type="submit">JSON of mains</button>
</form>

<form class="form-inline" action="../api/menu/dessert" method="GET">
  <button type="submit">JSON of desserts</button>
</form>

<form class="form-inline" action="../api/menu/drink" method="GET">
  <button type="submit">JSON of drinks</button>
</form>


</form>