<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order-styles.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <title>Document</title>

</head>
<body>

  <div id="outer-container">

    <main>
      <section id="all-orders">
        <article class="order">
          <div class="order-header">
            <div class="order-num">#13</div>
            <div class="order-status completed">Completed</div>
          </div>
          <div class="order-body">
            <div class="order-date">
              Date: 2022-03-28
            </div>
            <ul>
              <li>Tilapia x 2</li>
              <li>Ceasar salad x 1</li>
            </ul>
            <div class="order-total">TOTAL: $16.50</div>
          </div>
        </article>

        <article class="order">
          <div class="order-header">
            <div class="order-num">#13</div>
            <div class="order-status awaiting">Awaiting confirmation</div>
          </div>
          <div class="order-body">
            <div class="order-date">
              Date: 2022-03-28
            </div>
            <ul>
              <li>Tilapia x 2</li>
              <li>Ceasar salad x 1</li>
            </ul>
            <div class="order-total">TOTAL: $16.50</div>
          </div>
        </article>

        <article class="order">
          <div class="order-header">
            <div class="order-num">#13</div>
            <div class="order-status pending">Pending</div>
          </div>
          <div class="order-body">
            <div class="order-date">
              Date: 2022-03-28
            </div>
            <ul>
              <li>Tilapia x 2</li>
              <li>Ceasar salad x 1</li>
            </ul>
            <div class="order-total">TOTAL: $16.50</div>
          </div>
        </article>



      </section>
    </main>

  </div>




</body>
</html>