<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/all.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">


  <title>Registration</title>

</head>
<body>

  <!--Imported nav bar-->
  <% if (logged===1) { %>
    <%- include('partials/_nav_user') %>
  <% } else { %>
    <%- include('partials/_nav_guest') %>
  <% } %>
  <!--Pager header with menu type (starters, mains, etc.)-->

  <div id="outer-container">

    <main>

      <div class="login-box">
        <h1>Registration</h1>

      <form action="/multiUser/register" method="POST">

        <div class="name">
          <label>Name: </label>
          <input type="text" name="user_name" size="15" placeholder="name">
        </div>

        <div class="phone">
          <label>Phone (10 digits): </label>
          <input type="number" name="user_phone" size="10"  placeholder="phone">
        </div>

        <div class="password">
          <label>Password: </label>
          <input type="password" name="user_password" placeholder="password">
        </div>

        <button class="login-btn" type="submit">Register</button>
        </form>
      </div>



    </main>

  </div>




</body>
</html>
