body {
  background-color: lightblue;
  margin: auto;
}

#outer-container {
  display: flex;
  justify-content: center;
  width: 100%;

  main {
    background: white;
    width: 100%; /*Should be less in desktop view*/
    padding: 15px;
  }
}


@media only screen and (min-width: 768px) {
  #outer-container {
    width: auto;
    margin: 100px 25px 15px 25px;
  }
}


@media only screen and (min-width: 1024px) {
  #outer-container {
    width: auto;
    margin: 100px 25px 15px 25px;
  }
}
