@import 'variables';

img.menu-image {
  // height: 200px;
  // width: 280px;
  width: 100%;
  border-radius: 5px;
  display: block;
  margin: 10px auto 10px auto;
}

.menu-types {
  // background-color: rgb(176, 160, 15);
  white-space: nowrap;
  overflow: scroll hidden;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.category-btn {
  height: 40px;
  border: 1px solid rgb(194, 187, 230);
  color: rgb(145, 139, 173);
  background-color: white;
  border-radius: 8px;
  width: 15%;
  min-width: 100px;
}

.category-btn:hover, .category-btn:focus {
  box-shadow: 0 0 8px rgb(255, 255, 255);
  color: white;
  background-color: rgb(194, 187, 230) ;
}
.menu-box {
  margin: 20px;
  padding: 15px;
  width:380px;
  border-radius: 10px;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
}

// .menu-items {
//   background-color: red;
//   display: grid;
//   grid-template-rows: center;
//   gap: 20px;
//   width: 100%;
//   // grid-template-columns: repeat(1, 1fr);
// }

.food-item-name {
  padding: 5px;
  font-weight: bold;
  color: #5E5DF0;
  font-size: 24px;
}

.food-description {
  padding: 5px;
  font-style: italic;
}

.menu-item-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}

.menu-items {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.add-button {
  @include add-to-cart-button();
}


form.menu-input{
  display: flex;
  gap: 5px;
  input {
    text-align: center;
    width:60px;
  }
}

.menu-price {
  font-size: 20px;
}




@media only screen and (min-width: 768px) {
  // img.menu-image {
  //   height: 300px;
  //   width: 420px;
  // }

  .category-btn {
    margin: 5px;
  }


}

@media only screen and (min-width: 1024px) {
  // img.menu-image {
  //   height: 300px;
  //   width: 420px;
  // }

  .category-btn {
    margin: 5px;
  }



  .menu-box:hover {
    border: 1px solid rgb(194, 187, 230);
    box-shadow: 6px 6px 3px rgb(94, 93, 149);

  }

  // .menu-items {
  //   display: grid;
  //   grid-template-rows: auto;
  //   grid-template-columns: repeat(2, auto);
  // }
}
