img.menu-image {
  height: 200px;
  width: 280px;
  border-radius: 5px;
  display: block;
  margin: 10px auto 10px auto;
}

.menu-types {
  background-color: rgb(176, 160, 15);
  white-space: nowrap;
  overflow: scroll hidden;
}
.category-btn {
  height: 40px;
  border: 2px solid rgb(176, 160, 15);
  border-radius: 8px;
  width: 100px;
}

.category-btn:hover, .category-btn:focus {
  box-shadow: 0 0 8px rgb(255, 255, 255);
  color: rgb(226, 141, 22);
}
.menu-box {
  margin: 20px;
  padding: 5px;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
}

.menu-items {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.food-item-name {
  padding: 5px;
  font-weight: bold;
}

.food-description {
  padding: 5px;
  font-style: italic;
}

.food-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  img.menu-image {
    height: 300px;
    width: 420px;
  }

  .category-btn {
    margin: 5px;
  }

  .food-item-name {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  img.menu-image {
    height: 300px;
    width: 420px;
  }

  .category-btn {
    margin: 5px;
  }

  .food-item-name {
    font-size: 24px;
  }

  .menu-box:hover {
    border: 1px solid rgb(15, 15, 14);
    box-shadow: 6px 6px 3px gray;

  }

  .menu-items {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
