// See: https://sass-lang.com/
#nav-bar {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-position: 95%;
  position: fixed;
  top: 0;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.nav-title {
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  font-size: 10px;
}
.right-side-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-side-nav-content button {
  background-color: #ffffff;
  border: none;
  font-size: 15px;
}

.right-side-nav-content button:hover {
  color: rgb(176, 160, 15);
}

body, html {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  #nav-bar {
    width: 100%;
    height: 100px;
  }

  .nav-title {
    font-size: 21px;
  }

  .right-side-nav-content {
    gap: 5px;
  }

  .right-side-nav-content button {
    font-size: 20px;
  }
}


@media only screen and (min-width: 1024px) {
  #nav-bar {
    width: 100%;
    height: 100px;
  }

  .nav-title {
    font-size: 21px;
  }

  .right-side-nav-content {
    gap: 5px;
  }

  .right-side-nav-content button {
    font-size: 20px;
  }
}
