@import 'variables';

#nav-bar {
  // height: 100px;
  width: 100%;
  background-color: $navbar-blue;
  // background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-position: 95%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.nav-title {
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

    #lighthouse {
      color: white;
    }

    #grill {
      color: $red-accent;
    }

    img {
      display: none;
      height: 90px;
      padding: 5px;
      border-radius: 50px;
    }
}
.right-side-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: -20px;

  button {
    font-size: 30px;
    color: $medium-purple;
    background-color: transparent;
    border: none;
    &:hover {
      color: $lighter-purple;

    }
  }
}

.red-cart {
  color:$red-accent;
}

@media only screen and (min-width: 1024px) {
  #nav-bar {
    padding-left: 8%;
    padding-right: 12%;
    width: 100%;
    height: 100px;
    flex-direction: row;
  }

  .nav-title {
    font-size: 21px;
    margin-left: 30px;

    img {
      display: block;
    }
  }

  .right-side-nav-content {
    margin-top: 0px;
  }
}
